[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Documentation
Comment=docs
Exec=firefox http://aka.ms/dsvm/discover
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

