[Desktop Entry]
Version=1.0
Type=Application
Name=Azure Storage Explorer
Comment=Microsoft Azure Storage Explorer
Exec=/usr/local/bin/StorageExplorer
Icon=/dsvm/tools/StorageExplorer/resources/app/out/app/icon.png
Path=
Terminal=false
StartupNotify=false
