[Desktop Entry]
Version=1.0
Type=Application
Name=Drill embedded server
Comment=Drill embedded server
Exec=/usr/local/bin/drill-embedded
Icon=/dsvm/tools/drill/drill.png
Path=
Terminal=true
StartupNotify=false
