[Desktop Entry]
Version=1.0
Type=Application
Name=DSVM Forums
Comment=DSVM Forums
Exec=firefox aka.ms/dsvm/forum
Icon=web-browser
Path=
Terminal=true
StartupNotify=false
