[Desktop Entry]
Version=1.0
Type=Application
Name=Evince
Comment=PDF Viewer
Exec=/usr/bin/evince
Icon=evince
Path=
Terminal=false
StartupNotify=false
