[Desktop Entry]
Version=1.0
Type=Application
Name=RStudio
Comment=Launch RStudio
Exec=/usr/bin/rstudio
Icon=/usr/lib/rstudio/rstudio.png
Path=
Terminal=true
StartupNotify=false
