[Desktop Entry]
Version=1.0
Type=Application
Name=SQuirreL SQL
Comment=Java based SQL Client to several databases
Exec=/usr/local/squirrelsql-3.8.1-standard/squirrel-sql.sh
Icon=/usr/local/squirrelsql-3.8.1-standard/icons/acorn.png
Path=
Terminal=false
StartupNotify=false
