[Desktop Entry]
Version=1.0
Type=Application
Name=Weka
Comment=Weka
Exec=/usr/local/bin/weka
Icon=/dsvm/tools/weka/weka.gif
Path=
Terminal=false
StartupNotify=false
